.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.card  {
    border: solid 1px lightcoral;
}
.card-header{
    border : none;
}
.btn-danger {

    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

.card-title {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-align: center;
}

#link {
   text-decoration: none; 
}

.card-img-top {
    border-radius: 5%;
}

#btnwhite{
    text-decoration: none!important;
    
}
body{
    font-family: 'Itim', cursive; 
    background-image: url('../media/etoile.jpg');
}
.bg-info{
    background-color: #0d46f08f !important;
}

.required{
    color: beige;
}
.mb-2{
    margin-bottom: 0;
}
.form-label{
    color: beige;
}
#form-group #my-3{
    display: flex;
    justify-content: space-around;
}
#articles_ingredient{
    background-image: url("../media/cuisine.png");
}


